# compiled output
dist/
.devenv/
out/

# dependencies
node_modules/
.npm

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# caches
.eslintcache
.prettiercache
*.tsbuildinfo
.gitlab-ci-local

# test output
/packages/*/coverage
/packages/*/.nyc_output
*.lcov
junit.xml
gl-codequality.json

# OS
.DS_Store
thumbs.db

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Secrets
*.env
*.env.*
*.bin
*.key
*_accessKeys.csv

# IDEA direactories
.idea
